:root {
  --wave-width: 1440px;
  --move: 720px;
  --wave-scale: 4;
}

body {
  transition: background-color 2s;
}

.wave1,
.wave2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  transform: scale(var(--wave-scale), 1);
}

.wave1 {
  animation: wave 10s ease-in-out 0s infinite;
}

.wave2 {
  animation: wave 8s ease-in-out 0s infinite;
}

.wave1 path,
.wave2 path {
  transition: all 2s;
}

.salts,
.fishes {
  z-index: -9;
}

.salts {
  opacity: 0;
  transition: opacity 2s;
}

.salt {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  top: -10rem;
  left: -10rem;
  background-color: rgba(255, 255, 255, 0.3);
  animation: float 2s ease-in-out 0s infinite;
}

.fish {
  position: fixed;
}

.fish1 {
  right: -50rem;
  transform: scale(0.5);
}

.fish2 {
  left: -50rem;
}

.fish2--small {
  transform: scale(0.5);
  left: -50rem;
}

.fish3--small {
  transform: scale(0.5);
  right: -50rem;
}

.fish3 {
  right: -50rem;
}

.fish4 {
  left: -50rem;
}

.turtle {
  left: -50rem;
}

@keyframes wave {
  0%,
  100% {
    margin-left: 0;
  }

  50% {
    margin-left: var(--wave-width);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  0% {
    transform: translateY(0);
  }
}

@keyframes moveRight {
  0% {
    left: -60rem;
  }

  100% {
    left: calc(100vw + 60rem);
  }
}

@keyframes moveLeft {
  0% {
    right: -50rem;
  }

  100% {
    right: calc(100vw + 50rem);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
