* {
  box-sizing: border-box;
}

html {
  color: white;
  font-size: 10px;
}

body {
  font-family: "NanumSquare", sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.bolder {
  font-weight: 800;
}
.light {
  font-weight: 300;
}

h1 {
  font-weight: 800;
  font-size: 6.4rem;
}
