* {
  box-sizing: border-box;
}

html {
  font-family: "NanumSquare", sans-serif;
  color: white;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: rgb(116, 185, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

input {
  font-family: "NanumSquare", sans-serif;
}

input::placeholder {
  font-weight: 300;
}

button {
  cursor: pointer;
}

h1 {
  font-weight: 800;
  font-size: 6.4rem;
}

.icon {
  color: white;
  cursor: pointer;
}

.icon__search {
  position: absolute;
  z-index: 10;
}

.icon__chevron {
  opacity: 0.8;
}
