.search {
  text-align: center;
  margin-top: 15%;
}

.search p {
  margin: 2rem 0;
  line-height: 2;
}

.search form {
  position: relative;
  display: flex;
  align-items: center;
}

.search input {
  background-color: transparent;
  border: 5px solid white;
  border-radius: 10rem;
  width: 64rem;
  height: 6.4rem;
  padding-left: 3rem;
  color: white;
  font-size: 1.6rem;
}

.search input::placeholder {
  color: white;
  opacity: 0.8;
}

.search .message {
  margin-top: 4rem;
}

.search .icon__search {
  right: 3rem;
}
