body {
  background-color: #3559d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  text-align: center;
  margin-top: 30rem;
}

.search p {
  margin: 2rem 0;
  line-height: 2;
}

.search input {
  background-color: transparent;
  border: 5px solid white;
  border-radius: 10rem;
  width: 64rem;
  height: 6.4rem;
  padding-left: 2rem;
  color: white;
}

.search input::placeholder {
  color: white;
  opacity: 0.8;
}

.search button i {
  width: 3.6rem;
  height: 3.6rem;
}
